# 2주차 프로그래밍 필기!

In [1]:
a=123.0

In [2]:
type(a)

float

In [3]:
a='hello'

In [4]:
type(a)

str

In [5]:
a=(1,)
b=(1)

In [6]:
type(a)

tuple

In [7]:
type(b)

int

In [8]:
n=3
print(type(n))

<class 'int'>

In [10]:
n=str(n)
print(type(n))

<class 'str'>

In [11]:
n

'3'

In [12]:
t=(1,2,3,)
print(type(t))

<class 'tuple'>

In [13]:
t=list(t)
print(type(t))

<class 'list'>

In [14]:
a=[1,1,1,1,1,1,1,2,2,2,2,2,3,4,4,5,6,6,7,7,7,7,7,7,8,8,9,9,]
print(a)

[1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 4, 4, 5, 6, 6, 7, 7, 7, 7, 7, 7, 8, 8, 9, 9]

In [15]:
a=set(a)

In [16]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [17]:
#len 길이 측정하는 함수 리스트의 개수세준다

In [18]:
a_list=[3,4,5,6,6,7,7,4,5,3,434,54,56,462345,34254,34,5345,45,]
print(len(a_list))

18

In [20]:
a='acbv'
print(len(a))

4

In [21]:
a=('a','b','c','d')
print(len(a))

4

In [22]:
a=123
print(len(a))

TypeError: object of type 'int' has no len()

In [23]:
a={'a':3}
print(len(a))

1

In [25]:
a=set("hello world")
b=set('hello python')
print(a)
print(b)

{'e', 'd', 'w', ' ', 'h', 'l', 'r', 'o'}
{'y', 't', 'e', ' ', 'h', 'p', 'l', 'n', 'o'}

In [26]:
a=set("hello world")
b=set('hello python')
print(a)
print(b[1])

{'e', 'd', 'w', ' ', 'h', 'l', 'r', 'o'}

TypeError: 'set' object does not support indexing

In [29]:
a=set("hello world")
b=set('hello python')
b=list(b)
print(a)
print(b)
print(b[1])

{'e', 'd', 'w', ' ', 'h', 'l', 'r', 'o'}
['y', 't', 'e', ' ', 'h', 'p', 'l', 'n', 'o']
t

In [30]:
a=set("hello world")
b=set('hello python')
print(a)
print(b)

{'e', 'd', 'w', ' ', 'h', 'l', 'r', 'o'}
{'y', 't', 'e', ' ', 'h', 'p', 'l', 'n', 'o'}

In [32]:
print(a|b)  #합집합연산 \ 이 기호 사용! |

{'y', 't', 'e', 'd', 'w', ' ', 'h', 'p', 'l', 'r', 'n', 'o'}

In [34]:
print(a&b)   # 교집합

{'e', ' ', 'h', 'l', 'o'}

In [35]:
print(a-b)   # 차집합

{'d', 'w', 'r'}

In [36]:
print(a^b)   #합집합에서 교집합을 뺀 집합

{'y', 't', 'd', 'w', 'p', 'r', 'n'}

In [38]:
num=[0,1,2]

for n in num :
    print(n)
    
print(num)

0
1
2
[0, 1, 2]

In [39]:
num=[0,1,2]

for n in num :
    print(n)
    print(num)

0
[0, 1, 2]
1
[0, 1, 2]
2
[0, 1, 2]

In [40]:
num='hello world'

for n in num :
    print(n)
    print(num)

h
hello world
e
hello world
l
hello world
l
hello world
o
hello world

hello world
w
hello world
o
hello world
r
hello world
l
hello world
d
hello world

In [44]:
for i in range(100) :   #끝값에 1더해줌ㅃ@@@@##@!!!!!
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [46]:
a= range(3,100,2)
for i in a :
    print(i)

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [56]:
box = ['boll','boll','boll','boll','boll']

for i in range(5) : 
    #print(i)
    box[i] ='ball'
    #print(box)

In [63]:
for e in range(1,10) : 
    print('2','*',e,'=',2*e)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18