In [2]:
print(True)  # 따옴표 필요없음 키워드이니까!
print(False)

True
False

In [3]:
print(1>2)

False

In [4]:
print(2==2)

True

In [5]:
score = 90

if score > 80 :
    print('합격')

합격

In [7]:
score = 20  # 값이 거짓이면 그냥 무시하고 넘어간다!

if score > 80 :
    print('합격')

In [9]:
score = 20

if score > 80 :
    print('합격')
else :
    print('불합격')

불합격

In [11]:
score = 75

if 80<score <= 100 :         #조건1
    print('A')
elif 60< score <= 80:       #조건2
    print('B')
elif 40< score <= 60:       #조건3
    print('C')
else:          #모두 해당이 안될경우
    print('F')

    #if는 혼자서만도 쓸수있따

B

In [14]:
a=[1,2,3,4,5]
for i in a :
    print(i)
    if i==3 :
        print('check!!')    #3을 만나면 check를 외치는 프로그램

1
2
3
check!!
4
5

In [16]:
a = [1,7,10,5,8,2,7]

for i in a :
    print(i)
    if i%2==0:
        print('even number!!')  # 짝수를 만나면 even number울 외치는 프로그램

1
7
10
even number!!
5
8
even number!!
2
even number!!
7

In [17]:
# 짝수를 만나면 개수를 세는 프로그램
a = [1,7,10,5,8,2,7]
count = 0
for i in a :
    #print(i)
    if i%2==0:
        #print('even number!!') 
        count = count + 1

In [18]:
count

3

In [20]:
# 짝수를 만나면 개수를 세는 프로그램
a = [1,7,10,5,8,2,7]
count = []
for i in a :
    #print(i)
    if i%2==0:
        #print('even number!!') 
        count.append(i)

In [21]:
len(count)

3

In [22]:
count

[10, 8, 2]

In [34]:
people = [22,21,17,32,4,28,19,8]

total_price = 0
for a in people :
    if a>=20 :
        total_price=total_price+8000
    elif 10<a<=19 :
        total_price=total_price+5000
    else :
        total_price=total_price+2500
        
        print(total_price)

31500
47000

In [36]:
at_s = 90
te_s = 80

if at_s >= 90 and te_s > 70 :
    print('pass')

pass

In [37]:
at_s = 90
te_s = 70

if at_s >= 90 or te_s > 70 :
    print('pass')

pass

In [38]:
turtle = ['t1','t2','t3','t4','t5']

for i in turtle[:3] :
    print('hi~!')

hi~!
hi~!
hi~!

In [40]:
turtle = ['t1','t2','t3','t4','t5']

count = 0
# 0 1 2 순서일때만 돈다
while count < 3 :
    print(turtle[count], 'hi!')
    count = count+1

t1 hi!
t2 hi!
t3 hi!

In [5]:
a=0
count = 0
while a < 39000 :
    a = a + 3000
    count = count+1
    print(a,'원', count,"게임")

print(count)

3000 원 1 게임
6000 원 2 게임
9000 원 3 게임
12000 원 4 게임
15000 원 5 게임
18000 원 6 게임
21000 원 7 게임
24000 원 8 게임
27000 원 9 게임
30000 원 10 게임
33000 원 11 게임
36000 원 12 게임
39000 원 13 게임
13

In [8]:
# while문을 영원히 돌게 하는법 영원히 돌게 하다가 어떤 조건이 되면 멈추게 하는 스킬 while문의 조건을 깨지게 하는 조건을 if문에 넣어줌
a=0
count = 0

flag = 0

while flag==0 :
    a = a + 3000
    print(a)
    if a == 39000:
        flag = 1
        print('stop')

3000
6000
9000
12000
15000
18000
21000
24000
27000
30000
33000
36000
39000
stop

In [9]:
count = 0

while count < 3 :
    count = count + 1
    if count == 2 : 
        continue  #continue를 만나면은 무시하고(건너뛰고) 계속한다.
    print(count)

1
3

In [11]:
count = 0

while count < 5 :
    count = count + 1
    if count == 3 : 
        break  #break를 만나면은 그자리에서 아예 반복을 멈추게 된다.
    print(count)

1
2

In [15]:
num = (2,100)

In [16]:
num

(2, 100)

In [20]:
for n in range(2,101) :
    count=0
    if n%n==0 and n%1==0:
        count=count+1
print(count)

1

In [23]:
prime = []

for num in range(2,101) : #2~100까지 수를 체크함
    flag =1
    for i in range(2,num) :
        if num % i == 0:
            flag = 0
            break
    
    if flag ==1 :
        prime.append(num)

In [24]:
prime

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [25]:
len(prime)

25