주석처리(사람만읽고 컴퓨터는 인식안함) # a는 숫자형

# 오늘 수업 필기

In [6]:
print(2*(3/2))

3.0

In [7]:
print("문제")

문제

In [9]:
print(3+7)
print(6*3)
print(4**2)
print(9%5)

10
18
16
4

In [10]:
print('Hello World!')
print('3.14')

Hello World!
3.14

In [11]:
print('고래'+'밥')
print('고래'*4)

고래밥
고래고래고래고래

# 변수설정할때 보통 소문자 사용 숫자로 시작불가
예약어는 사용불가 예약어들은 색깔이 다르게 나옴 
공백은 사용할수 없음
문자 "와 ' 둘다 가능한 이유 "도 문자로 쓰고 싶을때 사용하기 위해서

In [12]:
count = 0
print(count)

0

In [13]:
count=1
print(count)

1

In [17]:
print("메뉴")

coffee = 4100
juice = 8000
tea = 3800

gsum = (coffee*3) + (juice*2) + (tea*2)
bsum = coffee + (juice*2) + (tea*3)
print(gsum)
print(bsum)

메뉴
35900
31500

# 리스트 = []append = 리스트 뒤에 값을 추가하는 것 리스트는 순서가 있어서 뒤에만 추가가능

메소드 특정자료형에서만 사용 앞에 . 찍고 사용해야함

In [18]:
candies = ["딸기맛", "레몬맛", "수박맛", "박하맛"]
print(candies)

['딸기맛', '레몬맛', '수박맛', '박하맛']

In [19]:
my_list = []
print(my_list)

[]

In [20]:
a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [21]:
aa = [1, '가', [1,2,3]]

In [22]:
print(aa)

[1, '가', [1, 2, 3]]

In [24]:
a.append(6)
print(a)

[1, 2, 3, 4, 5, 6]

In [29]:
b = []
b.append('사과')

In [27]:
print(b)

['사과']

In [31]:
a = [1,2,3,4,5,6,7,8,9,10] #앞에서 셀때는 0부터자리설정이 되고 뒤에서 부터 셀때는 -1부터 거꾸로 셈 01234
                                                                                            #-5-4-3-2-1

In [32]:
a[3]

4

In [34]:
a[9]

10

In [35]:
a[4] + a[9]

15

In [36]:
a = [1,2,3,['a','b','c']]

In [37]:
a[3]

['a', 'b', 'c']

In [38]:
a[-1]

['a', 'b', 'c']

In [40]:
a[-1][1]

'b'

In [41]:
a[-1][2]

'c'

In [42]:
a = [1,2,['a','b',['life','is']]]

In [43]:
a[-1]

['a', 'b', ['life', 'is']]

In [44]:
a[-1][2]

['life', 'is']

In [46]:
a[-1][2][0]

'life'

In [48]:
a[2][-1][-2]

'life'

In [49]:
week = ['월','화','수','목','금','토','일']

In [51]:
week[2:5]  #파이썬은 한꺼번에 부를때 마지막으로 부르고 싶은 자리 숫자에 1을 더해주어야함!!

['수', '목', '금']

In [53]:
week[5:]

['토', '일']

In [55]:
week[:5]

['월', '화', '수', '목', '금']

In [93]:
week[:-1]  #일요일까지 쓰고싶을때는 끝을 비우고 [0:] 이렇게 써야함

['월', '화', '수', '목', '금', '토']

In [58]:
week[-1:]

['일']

In [61]:
#피피티 참고 점프투파이썬 책 참고!! 왕초보를 위한 파이썬 2.7

In [70]:
a = [1,2,7,3,4]

In [71]:
del a[2]

In [72]:
print(a)

[1, 2, 3, 4]

In [73]:
a = [1,2,7,3,4]
a[2] = 17

In [74]:
a

[1, 2, 17, 3, 4]

In [91]:
candies = ['우유맛','콜라맛']
candies.append('포도맛')
candies.append('박하맛') # append는 한개씩밖에 추가 안됨 동시에 할경우 리스트체로 추가됨
del candies[-1]
print('숭실아' + candies[0] +'사탕' + '먹을래?')

숭실아우유맛사탕먹을래?

In [92]:
candies

['우유맛', '콜라맛', '포도맛']

In [94]:
print('숭실아 ' + candies[0] +'사탕' + ' 먹을래?')

숭실아 우유맛사탕 먹을래?

In [95]:
a=[1,2,3]
b=[4,5,6]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [96]:
a= [1,2,3]*3

In [97]:
a

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [131]:
a=[2,34,65,3,45]
   a.sort()  #sort는 정렬하는것 정렬한것을 다른것으로 바꾸는것은 안됨 정렬만 가능하다

TypeError: 'NoneType' object is not iterable

In [130]:
print(b)

None

In [102]:
a.sort(reverse=True)  #반대로 정렬

In [101]:
a

[91, 73, 65, 45, 34, 3, 2]

In [103]:
a=[1,1,1,1,2,3,3,3,4,5,5,6,6]
print(a.count(1)) #리스트안에 그 값이 몇개있는지 세주는것

4

# 튜플은 리스트와 비슷하지만 절대 자료를 건드리지 않을때 사용 ()사용한다.
피피티 참고!

In [105]:
t1 = (1,2,'a','b')
del t1[2]
t1[0]=3

TypeError: 'tuple' object doesn't support item deletion

In [107]:
t1 = (1,2,'a','b')
print(t1[-1])
print(t1[1:3])  #튜플은 불러올때도 () 로 불러와 진다!

b
(2, 'a')

# () -> print() 함수종류, .append() 메소드, 튜플()
# [] -> 리스트 정의 A = [A,A,A,A,A]  , 인덱싱=> 리스트,튜플,문자열에서 사용가능
# 값 변경가능 : 리스트
# 값변경불가능 : 튜플, 문자열

In [111]:
dict1 = {'apple':'r', 'banana':"y","apple2":"r"}   
# 키값은 고유해야하지만 value는 고유하지 않아도 된다!! 딕셔너리는 순서가 없다. 빠른검색을 위해 키와 값을 찾아줌 순서가 없기때문에 인덱션은 안됨
# 하지만 검색은 가능 []를 사용한다. ex) dict1['apple']

In [110]:
dict1

{'apple': 'r', 'banana': 'y', 'apple2': 'r'}

In [112]:
dict1["Orange"] = 'o'

In [113]:
dict1

{'apple': 'r', 'banana': 'y', 'apple2': 'r', 'Orange': 'o'}

In [114]:
del dict1["Orange"]

#

In [115]:
dict1

{'apple': 'r', 'banana': 'y', 'apple2': 'r'}

In [117]:
dict1["apple"]

'r'

In [118]:
#for문에서 실행할 명령 할때는 tab을 누르거나 스페이스바4번을 누르는 방법중 한가지만 사용해야 한다!

In [123]:
for i in [1,2,3] :
    print(i)      # for문은 출력을 리스트 개수당 한개씩 출력함 루프형식으로 계속 반복하면서 리스트 목록 출력한다! 반복해서 써야할 경우 사용함!

1
2
3

In [122]:
turtle = ['빨강거북','노랑거북','파랑거북']

for T in turtle:
    print(T + '아 안녕~?')

빨강거북아 안녕?
노랑거북아 안녕?
파랑거북아 안녕?

In [125]:
for T in 'hello world':
    print(T)

h
e
l
l
o

w
o
r
l
d