In [4]:
f = open('company_info.txt','r')
f.readlines()

['* Soong company works info *\n',
 'Employee Position Address Pay Duty Age\n',
 'Momo Officer Seoul 230 engineer 30\n',
 'Nari Officer Seoul 232 engineer 27\n',
 'Nero Assistant Suwon 320 engineer 35\n',
 'Pony Supervisor Suwon 423 admin 48\n',
 'Moni Supervisor Yongin 445 marketing 42\n',
 'Pori Assistant Yongin 365 admin 32\n',
 'Ruru Officer Busan 267 marketing 29\n',
 'Tori Assistant Suwon 389 admin 26\n',
 'Ramo Officer Daejeon 210 admin 26 \n',
 'Doti Assistant Seoul 346 marketing 23\n',
 'Yona Supervisor Daejeon 420 engineer 39\n',
 'Nimo Officer Busan 278 marketing 31\n',
 'Sandro Officer Seoul 237 engineer 32\n',
 'Merry Assistant Daejeon 341 admin 27\n',
 'Jacob Supervisor Seoul 465 engineer 49\n',
 'Bella Officer Seoul 200 admin 40\n',
 'Lilly Supervisor Daejeon 430 engineer 52\n',
 'Ruby Officer Seoul 220 admin 34\n',
 'Daisy Supervisor Suwon 490 engineer 47\n',
 'Jade Supervisor Daejeon 441 marketing 44\n',
 'Evelyn Officer Daejeon 240 admin 25\n',
 'Chloe Officer Busan 235 marketing 56\n',
 'Arden Assistant Seoul 370 engineer 23\n',
 'Hazel Officer Yongin 263 admin 38\n',
 'Daphne Assistant Seoul 368 engineer 29\n',
 'Rowan Officer Yongin 258 admin 30\n',
 'Olivia Assistant Suwon 340 engineer 32\n',
 'Alex Supervisor Seoul 478 marketing 43']

In [7]:
#1-1

f = open('company_info.txt','r')
f.readline()
name = []
for i in f : 
    if i.split()[4] == 'admin' and i.split()[1]=='Assistant' :
        k = i.split()[0]
        name.append(k)
print(name)

['Pori', 'Tori', 'Merry']

In [8]:
#1-2

f = open('company_info.txt','r')
f.readline()
pay = 0
count = 0
for i in f : 
    if i.split()[4] == 'engineer' : 
        pay = pay + int(i.split()[3])
        count = count + 1
print(pay/count)

354.72727272727275

In [43]:
#1-3

f = open('company_info.txt','r')
f.readline()
f.readline()
fw = open('new_list.txt','w')

for i in f : 
    if int(i.split()[5]) >= 40 : 
        pay = str( int(i.split()[3]) + 300 )
        employee = i.split()[0]
        duty = i.split()[4] 
        fw.write(employee+'_')
        fw.write(duty+'_')
        fw.write(pay + '\n')

In [45]:
ff = open('new_list.txt','r')
for i in ff : 
    print(i)

Pony_admin_723

Moni_marketing_745

Jacob_engineer_765

Bella_admin_500

Lilly_engineer_730

Daisy_engineer_790

Jade_marketing_741

Chloe_marketing_535

Alex_marketing_778

In [104]:
#2

def solution(arr,divisor) : 
    answer = []
    for i in arr :
        if i % divisor == 0 : 
            answer.append(i)
            answer.sort()
        if answer == [] : 
            answer.append(-1)
    return answer

In [107]:
solution([2,36,1,3],1)

[1, 2, 3, 36]